#%RAML 1.0
title: Daas_Experience_API
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/510e23bd-9695-4712-93cf-3bae56d897c5/daas # baseUri: /daas
version: v1
documentation: 
 - title: Home
   content: |
    This API is used for digital card enquiry, activation and redemption. 
    The cards workflows can be consumed by external systems
    through HTTPS based APIs using POST method
mediaType: application/json
protocols: HTTPS

uses:
 daas_request: /schemas/com.kfc.templates/daas_request/daas_request.raml
 daas_response: /schemas/com.kfc.templates/daas_response/daas_response.raml
types:
 REQUEST: daas_request.daasRequest
 RESPONSE: daas_response.daasResponse

/daasproviders: 
 description: |
    This API request 3 kinds of operation, card enquiry , activation and redemption
    with gift cards/value access cards and food court payment cards.
    
 post: 
   description: |
    
   queryParameters: 
    operationType:
     description: type operation to be performed
     required: true
     type: string
     enum: 
        - service_availability
        - create_shipment
     maxLength: 30
    delivery_providername:
     description: Delivery Provider name 
     required: true
     type: string 
     enum: 
        - runnr
        - shadowfax
     maxLength: 30 
   body: 
     application/json:
      type: REQUEST
      example:  !include /samples/daas_post_request.json
      
   responses: 
        200:
          body:
           application/json:
            type: RESPONSE
            example: !include /samples/daas_post_response.json
        400:
         body:
          application/json:
            type: RESPONSE
            example: !include /samples/daas_response_for_errors.json
        401:
         body:
           application/json:
             type: RESPONSE
             example: !include samples/daas_response_for_errors.json
        404:
         body:
           application/json:
             type: RESPONSE
             example:
                !include /samples/daas_response_for_errors.json
        500:
         body:
          application/json:
            type: RESPONSE
            example: !include /samples/daas_response_for_errors.json
              
              

                             
              
               
              
           